@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-color {
  color: rgb(13, 19, 33);
}
.center {
  text-align: center;
}
section {
  max-width: 1140px;
  margin: 0 auto;
}
.section-info-container {
  width: 852px;
  margin: 0 auto;
  margin-top: 90px;
}
.section-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}
.regular-description {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 26px;
  text-align: center;
}
/* Nav bar style  */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 32px;
}
.nav-container h1 {
  margin: 0;
  font: 32px;
  font-weight: 800;
}
.nav-container button {
  padding: 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  display: inline-block;
  color: rgb(13, 19, 33);
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

/* Banner Section styles */
.header {
  height: 640px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-container {
  max-width: 998px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.hero-img {
  width: 240px;
  height: 240px;
  margin-top: 26px;
}
.banner-heading {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  line-height: 68px;
  letter-spacing: 0%;
  margin: 0;
}
.banner-description {
  margin: 0;
}
.banner-btn {
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  margin: 23 0;
  cursor: pointer;
}

/* Why web development seciton style */
.development-section {
  max-width: 1140px;
  padding: 80px 0;
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 74px;
  background: rgba(13, 19, 33, 0.02);
}
.development-container {
  width: 946px;
  margin: 0 auto;
}
.development-description {
  margin: 24px 47px;
}
.development {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.development-info {
  width: 477px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32;
}
.development-title {
  width: 390px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}
.developer-descreption {
  text-align: left;
}
.learn-more-btn {
  width: 171px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 12px 20px;
  box-sizing: border-box;
  line-height: 23px;
  letter-spacing: 0%;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  cursor: pointer;
}
.development-second {
  justify-content: flex-start;
  margin: 32px 0;
}
.developer-img-second {
  padding-right: 32px;
}

/* Inspiration section style  */
.inspiration-heading {
  width: 852px;
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
}
.youtube-video-container {
  width: 1140px;
  height: 614px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
#youtube-video {
  border-radius: 16px;
}

/* Current target section style  */
.current-target-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  margin: 32px 0;
}
.card {
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card img {
  width: 56px;
  height: 56px;
}
.card h5 {
  font-size: 24px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  margin-top: 24px;
  margin-bottom: 8px;
}
.card p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  line-height: 26px;
  opacity: 0.7;
  text-align: left;
}
.card a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}
#card1 {
  background: rgba(255, 76, 30, 0.05);
}
#card2 {
  background: rgba(0, 76, 232, 0.05);
}
#card3 {
  background: rgba(255, 223, 0, 0.05);
}

/* Support section style  */
.support {
  padding: 64px 48px;
  text-align: center;
  border-radius: 16px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.709),
      rgba(0, 0, 0, 0.393),
      rgba(0, 0, 0, 0.709)
    ),
    url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.support h5 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 16px 0;
}
.support p {
  width: 606px;
  margin: 0 auto;
  margin-bottom: 26px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.input-field {
  width: 548px;
  padding: 19px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}
.submit-btn {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 19px 20px;
  outline: none;
  cursor: pointer;
}

/* Footer section style  */
#footer-container {
  display: flex;
  margin-top: 80px;
  padding: 28px 0;
  justify-content: space-between;
  align-items: center;
}
.author b {
  font-size: 16px;
}
footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.icons a {
  margin-left: 24px;
}
